* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



body {
    height: 100vh;
    background: url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-game {
    width: 740px;
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    perspective: 1000px;
   }



.card {
width: calc(25% - 10px);
height: calc(33.333% - 10px);
margin: 5px;
position: relative;
transform: scale(1);
transform-style: preserve-3d;
transition: transform .5s;
box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip {
 
transform: rotateY(180deg);
}


.card.flip.remove {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.front,
.back{
    position: absolute;
     width: 100%;
    height: 90%;
    object-fit: contain;
    display: flex;
    cursor: pointer;
    backface-visibility: hidden;
    
}

.front{
    transform: rotateX(180deg);
}



